<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="header">
        <center>
            <h1> Movie App</h1>
            <center>
    </div>

    <div class="topnav">

        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a>

            <center>
                <ul><a href="/movies">Select by Movies!</a></ul>
                <ul><a href="/actors">Select by Actors!</a></ul>
                <center>

                    <br>
                    <br>
                    <br>
    </div>
</body>

</html>